{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business in Today's World</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="sidebar">
        <ul>
            <li><a href="{% url 'navbar'%}?action=home " class="active">Home</a></li>
            <li><a href="{% url 'navbar'%}?action=about ">About</a></li>
            <li><a href="{% url 'post_create' %}">Post</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
        </ul>
    </nav>

    <main>
        <header>
            <h1>Welcome to Business in Today's World</h1>
            <img src = 'https://images.business.com/app/uploads/2011/06/12131106/Delegation-Skills-1024x636.png' alt = 'business group'>
            <p>A platform for exploring the latest trends and insights in business.</p>
            <a href="https://www.vervesearch.com/how-to-write-a-successful-blog-for-your-business/" target="_blank" class="btn">Get Started</a>
        </header>

        <section class="features">
            <div class="feature">
                <a href="{% url 'post_list'%}">Latest Articles</h2>
                <!-- Display latest articles here -->
            </div>
            <div class="feature">
                <h2>Trending Topics</h2>
                <!-- Display trending topics here -->
            </div>
            <div class="feature">
                <h2>Expert Insights</h2>
                <!-- Display expert insights here -->
            </div>
        </section>
    </main>

</body>
</html>