{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business in Today's World</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="sidebar">
        <ul>
            <li><a href="{% url 'navbar'%}?action=home " class="active">Home</a></li>
            <li><a href="{% url 'navbar'%}?action=about ">About</a></li>
            <li><a href="{% url 'post_create' %}">Post</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
        </ul>
    </nav>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Username : {{username}}</p>
        <button type="submit">Save</button>
      </form>
</body>
</html>